*{
    margin: 0px;
}

/* header CSS */ -----------------------------------

#vnavbar{
    width: 100%;
    border-bottom: 1px solid rgb(167, 167, 167);
    position: fixed;
    background-color: white;
}
#vtopblackbar{
    background-color: black;
    color: white;
    margin: 0px;
}
#vtopblackbar > p{
    margin: 0px;
    font-family: Trade Gothic LH Extended;
    font-size: 17px;
    text-align: center;
    padding: 2px;
}
#vtheoryhome > p{
    font-size: 52px;
    margin: 8px;
    text-align: center;
    font-family: Trade Gothic LH Extended;
    font-weight: bolder;
}



/* Footer CSS */


#vfoot{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    line-height: 30px;
	font-family: Theory-web-ul;
    
}

#vfoot > p:nth-child(3){
    /* border: 1px solid black; */
    font-size: 8px;
    margin: 0px ;
}


/* Mid Part CSS */

#vendmidArea{
    /* border: 1px solid black; */
    height: 550px;
    width: 85%;
    margin: auto;
    margin-top: 60px;

}

#vendTop{
    text-align: center;
    line-height: 60px;
    border-bottom: 2px solid gray;
}
#vendTop > h1{
    color:  red;
    font-size: 60px;
}

#vendTop > h2{
    font-size: 30px;
}

#vnumberorder{
    display: flex;
    font-size: 25px;
    padding: 50px;
}
#vnumberorder1{
    display: flex;
    font-size: 25px;
    padding-left: 50px;
}

#vnumberorder00{
    font-size: 25px;
    padding-top: 50px;
    text-align: center;
}






